.cardContainer{
    border-radius: 10px;
    width: 75%;
    margin: auto;
    padding: 25px;
    background-color: #f8ccbbe3;
    border: 2px solid white;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}