
.cardContainer{
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title, .card-title{
    text-align: center;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
}
