
.cardContainer{
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 200px;
}

.title, .card-title{
    text-align: center;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

@media only screen and (min-width: 460px){
    .title{
        font-size: 2.2rem;
    }    
}
@media only screen and (min-width: 950px){
    .title{
        font-size: 3rem;
    }
    .cardContainer{
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }
}
@media only screen and (min-width: 1200px){
    .cardContainer{
        margin-top: 2%;
    }
}