
body{
    background-color: #eef6f0;
    font-family: 'Karla', Arial, sans-serif;
    margin: 0;
    color: #2b2839
}


.back-icon{
  padding: 10px;
}
.checkbox{
  width: 25px;
  height: 25px;
}
a{
  text-decoration: none;
  color: inherit; 
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}