
body{
    background-color: #eef6f0;
    font-family: 'Karla', Arial, sans-serif;
    margin: 0;
    color: #2b2839
}


.back_btn{
  width: 38px;
  margin: 10px;
  cursor: pointer;
}

.checkbox{
  width: 25px;
  height: 25px;
}
a{
  text-decoration: none;
  color: inherit; 
}

@media only screen and (min-width: 950px){
  .back_btn{
    margin: 20px;
  }
}

@media only screen and (min-width: 520px){
  .checkbox{
    width: 35px;
    height: 35px;
  }
}