.align-left{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}

.btn-simple{
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
    border: 1px solid #2b2839;
    background-color: white;
    font-family: inherit;
    cursor: pointer;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-sm{
    gap: 10px
}

.gap-md{
    gap: 20px;
}

.gap-lg{
    gap: 40px;
}

.shadow-sm{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}