.align-left{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.btn-simple, .btn-purple{
    cursor: pointer;
}

.btn-simple{
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
    border: 1px solid #2b2839;
    background-color: white;
    font-family: inherit;
}
.btn-simple:hover{
    background-color: rgb(223, 235, 240)
}

.btn-purple{
    font-family: 'Karla', Arial, sans-serif;
    padding: 25px;
    border-radius: 40px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #5035ff;
    color: white;
    transition-timing-function: ease;
    transition: transform 0.3s;
    backface-visibility: hidden;
}

.btn-purple:hover{
    transform: translateY(-4px);
    box-shadow: 2px 2px 20px 20px rgb(205, 205, 205);
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.flex-start{
    justify-content: flex-start;
}

.flex-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

.gap-sm{
    gap: 10px
}

.gap-md{
    gap: 20px;
}

.gap-lg{
    gap: 40px;
}

.shadow-sm{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}