
.card{
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 220px;
    margin: auto;
    border: 3px solid white;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    transition: 0.3s; 
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info{
    font-weight: 300;
}

.title{
    font-weight: 900;
    font-size: 1.2rem;
}