footer{
    font-size: 1.2rem;
    text-align: center;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: 2px;
    background: #eef6f0;
    box-shadow: 10px 5px 10px 0 rgba(0, 0, 0, 0.2), 10px 6px 10px 0 rgba(0, 0, 0, 0.19);
}