
.btn_select{
    padding: 10px;
    border-radius: 3px;
    border:solid #2b2839 1px; 
    width: 250px;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    color:#2b2839;
    background-color: white;
}
.btn_select:hover{
    background-color: rgb(223, 235, 240);
}
.btn_next{
    width: 100px;
    padding: 15px !important;
    position: fixed;
    left: 70%;
}
.container{
    width: 95%;
    margin: 1vh auto 15vh auto;
    background-color: #eef6f0;
}
.explanation_container{
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;
    background-color: rgb(223, 235, 240);
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box_sm{
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}
.info{
    font-size: 16px;
    opacity: 0.8;
}
.question_text{
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    text-align: left;
}

@media only screen and (min-width: 320px){
    .img_reference{
        width: 130%;
    }
}
@media screen and (min-width: 463px) {
    .btn_next{
        left: 75%;
    }
}
@media screen and (min-width: 598px) {
    .btn_next{
        left: 80%;
    }
}
@media only screen and (min-width: 750px){
    .img_reference{
        max-width: 700px;
    }
}
@media screen and (min-width: 762px){
    .btn_next{
        left: 85%;
    }
}
@media only screen and (min-width: 850px){
    .container{
        margin-bottom: 20vh; 
    }
}
@media screen and (min-width: 1061px){
    .btn_next{
        left: 90%;
    }
}
@media  screen and (min-width: 1486px) {
    .btn_next{
        left: 92%;
    }
}
