.btn_categories{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.main_score_container{
    margin-top: 50px;
}
.main_score_container > p{
    margin: 0;
    text-align: center;
}
.text_main_score{
    font-weight: bolder;
    font-size: 2.5rem;
}
.subtext_main_score{
    font-size: 1rem;
}

@media only screen and (min-width: 1000px){
    .answered_question_container{
        max-width: 840px;
    }
}